.embedly {
  border: 1px solid #cccccc;
  padding: .5em;
  overflow: hidden;
  margin: 1em 0;
}

.embedly img {
  float: left;
  margin: 0 1em 0 0;
  width: 200px;
  height: auto;
}

.embedly h4 {
  font-weight: bold;
  margin: 0 0 .5em;
}
